* {
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-around
  }
  
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
.card p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    color: black;
} 

